<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DropNet" version="1.9.6" targetFramework="net45" />
  <package id="Repertoire" version="1.0.50.80" targetFramework="net45" />
  <package id="Repertoire.Dropbox" version="1.0.50.80" targetFramework="net45" />
  <package id="RestSharp" version="104.1" targetFramework="net45" />
  <package id="SSH.NET" version="2013.4.7" targetFramework="net45" />
</packages>